/* 쪽지 보내기(message_form.php) */
#main_img_bar{width: 100%; height: 144px;}
.sectionwrap{width: 100%; height: 900px; background: url(../images/MainCnt.jpg) 0px 0px / auto repeat; margin: 0 auto;}
.contentwrap{width: 1420px; margin: 0 auto;}
/* 왼쪽메뉴 */
.left_content{width: 195px; height: 759px; margin-top: 30px; margin-left: 16px; background: #ffffff;}
.left_border{width: 171px; height: 736px; margin: 10px auto; border: 1px solid #d1d1d1;}
.Left_Title{font-size: 30px; font-weight: bold; margin-top: 23px; margin-left: 21px; line-height: 1.2;}
.Left_Img{margin-top: 23px; margin-left: 21px;}
.Left_List{margin-top:30px; margin-left: 15px; height: 470px;}
.Left_List li{padding: 6px; font-weight: bold; letter-spacing: -1px; }
.Left_List li a{display: block; letter-spacing: -0.5px; /* font-family: 'notokr';  */font-weight: 400; line-height: 23px; font-size: 15px; color: #666; text-align: left; font-weight}
.Left_List li a:hover{color: #9bce85;}
.Left_Icon{width: 100%;height: 54px;display: block;text-align: center;margin: 0 auto; margin-left: 35px;}
.Left_Icon li{float: left; margin-left: 8px;}
.Left_Icon li img{ margin-top: 10px; margin-left: -1px;}
.Left_Icon li:hover{background: #9bce85;}
.Left_Icon .print{ width: 40px; height: 40px; background: #ededed; border-radius: 20px; }
.Left_Icon .Pc{ width: 40px; height: 40px; background: #ededed; border-radius: 20px;}

/*오른쪽*/
.right_content{width: 1182px; height: 759px; margin-top: 30px; margin-left: 16px; background: #ffffff;}
.right_border{width: 1160px; height:736px; margin: 10px auto; border: 1px solid #d1d1d1;}

#message_box { position: relative; width: 920px; margin: 30px auto;  background: #ffffff; height: 680px; }
#message_box h3 {padding: 20px; border-bottom: solid 2px #516e7f; font-size: 25px; text-align: center;}
#write_msg { padding: 0 20px; margin-top: 30px;}
#write_msg span { display: inline-block; }
#write_msg .col1 { width: 150px; }
#write_msg li {	padding: 12px; border-bottom: solid 1px #dddddd; }
#write_msg input { width: 500px; height: 25px; }
#write_msg textarea { width: 500px;	height: 150px; }
#write_msg #text_area {	position: relative;	height: 158px; }
#write_msg #text_area .col1 { position: absolute; top: 10px; }
#write_msg #text_area .col2 { position: absolute; left: 166px; }
#write_msg button {	margin: 15px 0 30px 580px;	padding: 5px 23px; cursor: pointer; }
/* 수신/송신 쪽지함(message_form.php) */
#message li { padding: 10px; border-bottom: solid 1px #dddddd; }
.message_tit{height: 20px;}
.message_tit .col2{height: 20px;}
#message li:nth-child(1) { font-weight: bold; }
#message span {	display: inline-block; text-align: center; }
#message .title { font-weight: bold; }
#message .col1 { width: 80px; float: left;}
#message .col2 {display: block;
width: 410px;
text-align: left;
overflow: hidden;
text-align: left;
white-space: nowrap;
text-overflow: ellipsis;
float: left;}
#message .col2 a{color: #666666;}

#message .col3 { width: 245px;float: left; }
#message .col4 { width: 150px; float: left;}
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }
#message_box .top_buttons  { text-align: right; margin: 20px 0 20px 0; }
#message_box .top_buttons li { display: inline; margin-right: 20px; }
#message_box .top_buttons a:link { text-decoration: underline; color: green; }
#message_box .top_buttons a:visited { text-decoration: underline; color: green; }
#message_box .buttons { text-align: right; margin: 20px 0 40px 0; }
#message_box .buttons li { display: inline; }
#message_box .buttons button { padding: 5px 10px; cursor: pointer; }
/* 쪽지함 보기(view_msg.php) */

#message_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }
